{% extends 'admin.html.twig' %}
{% block content %}
<h2>Add Post</h2>
<form action="/admin/post/create" method="post">
    <div class="form-group">
        <label for="firstName">FirstName</label>
        <input type="text" class="form-control" name="firstBane" id="firstName" aria-describedby="firstNameHelp" placeholder="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">lastName</label>
        <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="lastNameHelp" placeholder="lastName">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="email">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="text" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

